version: '2' # specify docker-compose version

# Define the services/containers to be run
services:
  angular: # name of the first service
    build: ./recipe-book-client # specify the directory of the Dockerfile
    ports:
      - "4200:4200" # specify port forewarding

  express: #name of the second service
    build: ./recipe-book-server # specify the directory of the Dockerfile
    ports:
      - "3000:3000" #specify ports forewarding
    links:
      - database # link this service to the database service
    volumes: 
      - recipe-data:/data

  database: # name of the third service
    image: mongo # specify image to build container from
    volumes: 
      - mongo-data:/data/db
    ports:
      - "27017:27017" # specify port forewarding
  
volumes:
    mongo-data:
    recipe-data: